In [1]:
import pymongo 
print(pymongo.__version__)

3.10.1

# Create DB
To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

MongoDB will create the database if it does not exist, and make a connection to it.

Important: In MongoDB, a database is not created until it gets content! MongoDB waits until you have created a collection (table), with at least one document (record) before it actually creates the database (and collection).

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
print('{}\n{}'.format(myclient,mydb))

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
print(myclient.list_database_names())

['admin', 'config', 'local']

# Create Collection (Table)
To create a collection in MongoDB, use database object and specify the name of the collection you want to create.
Important: In MongoDB, a collection is not created until it gets content!

mycol = mydb["customers"]

In [7]:
 print(mydb.list_collection_names())

['customers']

# Insert
To insert a record, or document as it is called in MongoDB, into a collection, we use the **insert_one()** method.

The first parameter of the **insert_one()** method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

If you do not specify an **_id** field, then MongoDB will add one for you and assign a unique id for each document.

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

# Insert Multiple Documents
To insert multiple documents into a collection in MongoDB, we use the **insert_many()** method.

The first parameter of the **insert_many()** method is a list containing dictionaries with the data you want to insert.

The **insert_many()** method returns a InsertManyResult object, which has a property, **inserted_ids**, that holds the ids of the inserted documents.

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

print(x.inserted_ids)

# Insert Multiple Documents, with Specified IDs

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

# Find 
To select data from a collection in MongoDB, we can use the **find_one()** method.

The **find_one()** method returns the first occurrence in the selection.

In [12]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5e480e58f28281e42f5b5976'), 'name': 'John', 'address': 'Highway 37'}

The **find()** method returns all occurrences in the selection.

The first parameter of the **find()** method is a query object. In this example we use an empty query object, which selects all documents in the collection.

In [13]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5e480e58f28281e42f5b5976'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e480eb6f28281e42f5b5977'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5e480eb6f28281e42f5b5978'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5e480eb6f28281e42f5b5979'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e480eb6f28281e42f5b597a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5e480eb6f28281e42f5b597b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5e480eb6f28281e42f5b597c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e480eb6f28281e42f5b597d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5e480eb6f28281e42f5b597e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e480eb6f28281e42f5b597f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5e480eb6f28281e42f5b5980'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5e480eb6f28281e42f5b5981'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5e480eb6f28281e42f5b5982'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

You are not allowed to specify both 0 and 1 values in the same object (except if one of the fields is the _id field). If you specify a field with the value 0, all other fields get the value 1, and vice versa:

In [14]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [15]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('5e480e58f28281e42f5b5976'), 'name': 'John'}
{'_id': ObjectId('5e480eb6f28281e42f5b5977'), 'name': 'Amy'}
{'_id': ObjectId('5e480eb6f28281e42f5b5978'), 'name': 'Hannah'}
{'_id': ObjectId('5e480eb6f28281e42f5b5979'), 'name': 'Michael'}
{'_id': ObjectId('5e480eb6f28281e42f5b597a'), 'name': 'Sandy'}
{'_id': ObjectId('5e480eb6f28281e42f5b597b'), 'name': 'Betty'}
{'_id': ObjectId('5e480eb6f28281e42f5b597c'), 'name': 'Richard'}
{'_id': ObjectId('5e480eb6f28281e42f5b597d'), 'name': 'Susan'}
{'_id': ObjectId('5e480eb6f28281e42f5b597e'), 'name': 'Vicky'}
{'_id': ObjectId('5e480eb6f28281e42f5b597f'), 'name': 'Ben'}
{'_id': ObjectId('5e480eb6f28281e42f5b5980'), 'name': 'William'}
{'_id': ObjectId('5e480eb6f28281e42f5b5981'), 'name': 'Chuck'}
{'_id': ObjectId('5e480eb6f28281e42f5b5982'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

# Filter the Result
When finding documents in a collection, you can filter the result by using a query object.

The first argument of the **find()** method is a query object, and is used to limit the search.

In [17]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5e480eb6f28281e42f5b597f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

To make advanced queries you can use modifiers as values in the query object.

E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: **{"$gt": "S"}**:

In [18]:
myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5e480eb6f28281e42f5b5979'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e480eb6f28281e42f5b597c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e480eb6f28281e42f5b597e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e480eb6f28281e42f5b5982'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Filter With Regular Expressions
You can also use regular expressions as a modifier.

**Regular expressions can only be used to query strings.**

To find only the documents where the "address" field starts with the letter "S", use the regular expression **{"$regex": "^S"}**:

In [19]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5e480eb6f28281e42f5b597c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e480eb6f28281e42f5b5982'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Sort the Result
Use the **sort()** method to sort the result in ascending or descending order.

The **sort()** method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [21]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5e480eb6f28281e42f5b5977'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5e480eb6f28281e42f5b597f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5e480eb6f28281e42f5b597b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5e480eb6f28281e42f5b5981'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5e480eb6f28281e42f5b5978'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5e480e58f28281e42f5b5976'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e480eb6f28281e42f5b5979'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5e480eb6f28281e42f5b597c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5e480eb6f28281e42f5b597a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5e480eb6f28281e42f5b597d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5e480eb6f28281e42f5b597e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e480eb6f28281e42f5b5982'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5e480eb6f28281e42f5b5980'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

sort("name", 1) #ascending

sort("name", -1) #descending

In [23]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('5e480eb6f28281e42f5b5980'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5e480eb6f28281e42f5b5982'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5e480eb6f28281e42f5b597e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5e480eb6f28281e42f5b597d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5e480eb6f28281e42f5b597a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5e480eb6f28281e42f5b597c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5e480eb6f28281e42f5b5979'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5e480e58f28281e42f5b5976'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e480eb6f28281e42f5b5978'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5e480eb6f28281e42f5b5981'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5e480eb6f28281e42f5b597b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5e480eb6f28281e42f5b597f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5e480eb6f28281e42f5b5977'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

# Delete Document
To delete one document, we use **the delete_one()** method.

The first parameter of the **delete_one()** method is a query object defining which document to delete.

**Note**: If the query finds more than one document, only the first occurrence is deleted.

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

To delete more than one document, use the **delete_many()** method.

The first parameter of the **delete_many()** method is a query object defining which documents to delet

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

To delete all documents in a collection, pass an empty query object to the **delete_many()** method.

# Delete Collection
You can delete a table, or collection as it is called in MongoDB, by using the **drop()** method.

mycol.drop()

# Update Collection
You can update a record, or document as it is called in MongoDB, by using the **update_one()** method.

The first parameter of the **update_one()** method is a query object defining which document to update.

Note: If the query finds more than one record, only the first occurrence is updated.

The second parameter is an object defining the new values of the document.

In [29]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find({"address" : "Canyon 123"}):
  print(x)

{'_id': ObjectId('5e480eb6f28281e42f5b5979'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}

To update all documents that meets the criteria of the query, use the **update_many()** method.

In [30]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

0 documents updated.

# Limit the Result
To limit the result in MongoDB, we use the **limit()** method.

The **limit()** method takes one parameter, a number defining how many documents to return.

In [31]:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('5e480e58f28281e42f5b5976'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5e480eb6f28281e42f5b5977'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5e480eb6f28281e42f5b5979'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5e480eb6f28281e42f5b597a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5e480eb6f28281e42f5b597b'), 'name': 'Betty', 'address': 'Green Grass 1'}