# Creating Connection
Possible connect to one or multiple DBs.

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root'
)

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root",
  database="mydatabase"
)

In [3]:
mycursor = mydb.cursor(buffered = True)
print(mydb)
print(mycursor)

<mysql.connector.connection.MySQLConnection object at 0x7f23782fc390>
MySQLCursorBuffered: (Nothing executed yet)

# Create DB

mycursor.execute("CREATE DATABASE mydatabase")

# Show DBs list

In [4]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

# Create Table

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

mycursor.execute(
    "CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))"
)

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [5]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

mycursor.execute(
    "DROP TABLE customers"
)

# Insert
**Important!**: Notice the statement: **mydb.commit()**. It is required to make the changes, otherwise no changes are made to the table.

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

## Insert multiple rows

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

# Get Inserted ID 
If you insert more that one row, the id of the last inserted row is returned.

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

# Select
We use the **fetchall()** method, which fetches all rows from the last executed statement.
The **fetchone()** method will return the first row of the result.

In [8]:
# Select (fetchall)
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
print('fetchall result')
for x in myresult:
  print(x)

# Where (fetchone)
mycursor.execute("SELECT * FROM customers WHERE address ='Park Lane 38'")
myresult = mycursor.fetchone()
print('\nfetchone result: {}'.format(myresult))

# Like
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
print('\nSelect with line:')
for x in myresult:
  print(x)

fetchall result
(1, 'John', 'Highway 21')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Ben', 'Park Lane 38')
(12, 'William', 'Central st 954')
(13, 'Chuck', 'Main Road 989')
(14, 'Viola', 'Sideway 1633')
(15, 'Michelle', 'Blue Village')
fetchone result: (11, 'Ben', 'Park Lane 38')
(1, 'John', 'Highway 21')
(9, 'Susan', 'One way 98')
(14, 'Viola', 'Sideway 1633')